<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-md-4 col-lg-2">
            <ul class="burger-list" id="eat-list">
                {{#each burgers}}
                <li data-index="{{burger_id}}">{{burger_name}}</li>
                {{/each}}
            </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-2">
            <ul class="burger-list devoured">
                {{#each devoured}}
                <li>{{burger_name}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
<form id="burger-form" action="." method="POST">
    <input type="text" id="burger-name" placeholder="Type in a burger" required />
    <button type="submit" id="burger-add">Add</button>
</form>